@model Factory.Novedad
@{
    ViewBag.Title = "Detalle de novedad";
}
<div class="card">
    <div class="header">@ViewBag.Title</div>
    <div class="body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.matricula.Codigo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Matricula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoNovedad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoNovedad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

        </dl>
    </div>
</div>

<div style="padding-top:20px;">
    @Html.ActionLink("Inprimir ", "print",null,htmlAttributes:new { @class="button"})
    @Html.ActionLink("Listado de novedades", "Index", null, htmlAttributes: new { @class = "button" })
</div>
