@model Factory.Usuario

@{
        ViewBag.Title = "Detalle de usuario "  ;
}
<div class="card ">
    <div class=" header">@ViewBag.Title</div>
    <div class=" body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IDENTIFICACION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDENTIFICACION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.APELLIDO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.APELLIDO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Civil.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Civil.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DIRECCION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DIRECCION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TELEFONO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TELEFONO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sex.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sex.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EMAIL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EMAIL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.USUARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.USUARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pwd)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pwd)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rol.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rol.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Edad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Edad)
            </dd>

        </dl>
    </div>
</div>

<div style=" padding-top :20px">
    @if (Model.Rol.Nombre == "Estudiante")
    {
        @Html.ActionLink(" Crear matricular", "Create", "matriculas", new { estudiante = Model.ID },htmlAttributes:new { @class="button"}) 
    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "button" }) 
    @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID }, htmlAttributes: new { @class = "button" }) 
    @Html.ActionLink("Listado de usuarios", "Index", htmlAttributes: new { @class = "button" })
</div>
