@model IEnumerable<Factory.Usuario>

@{
    ViewBag.Title = "Listado de usuarios";
    SelectList perfiles = ViewBag.perfiles;
}

<div class=" card ">
    <div class=" header ">Escoja un perfil</div>
    <div class=" body">
        <form id="frm" class="validate-form">
            <div class="row">
                <div class="col-md-3 mb-3">
                    @Html.Label("Pefil")
                    @Html.DropDownList("perfil", perfiles, new { @class = "form-control", @style = "width:100%;" })
                </div>
                <div class="col mb-3">
                    <label class="w-100">&nbsp;</label>
                    <button type="submit" class="button " id="btnSearch"> Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class=" card ">
    <div class=" header ">@ViewBag.Title</div>
    <div class=" body">
        <div style="padding-bottom:20px; ">
            @Html.ActionLink("Crear usuario", "Create",null,htmlAttributes:new { @class="button"})
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IDENTIFICACION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreCompeto)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DIRECCION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TELEFONO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMAIL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.USUARIO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pwd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edad)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDENTIFICACION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompeto)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DIRECCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TELEFONO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sex.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.USUARIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pwd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edad)
                    </td>
                    <td>
                        @Html.ActionLink("detalles", "Details", new { id = item.ID }, htmlAttributes:new { @class="buttonCol"})

                    </td>
                </tr>
            }
        </table>

    </div>
</div>
