@{
    string message = "";
    int tipo = 0;
    if (TempData["tipo"] != null)
    {
        tipo = (int)TempData["tipo"];
    }
    if (TempData["message"] != null)
    {
       message  = TempData["message"].ToString();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var tipo =@tipo;
        var message = "@message";
        switch (tipo )
        {
            case 1: {
                alert(message);
                break;
            }
            case 2: {
                alert(message);
                break;
            }
            case 3: {
                alert(message);
            }
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de la aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Tipo novedad", "Index", "Tiponovedades")</li>
                    <li>@Html.ActionLink("Curso", "Index", "Cursos")</li>
                    <li>@Html.ActionLink("Usuario", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Matricula", "index", "matriculas")</li>
                    <li>@Html.ActionLink("Novedades", "index", "novedades")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
